* {
  font-family: "CodeNewRoman Nerd Font Propo";
}

.text-box {
  font-size: 20px;
  margin: 5px;
}

.control-center {
  background-color: black;
  color: white;
  border: 0.5px solid;
  border-color: white;
  border-radius: 1px;
  font-size: 15px;
  margin: -5px -5px 0 0;
}

.notification {
  background: black;
  border: 0.5px solid;
  border-color: white;
  border-radius: 1px;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin: -6px -12px 0 0;
}

.notification .rectangle {
  height: 50px;
  width: 100px;
  background-color: black;
}

.notification-content {
  font-size: 16px;
  margin: 0px;
}

.close-button {
  background-color: black;
}

.close-button:hover {
  color: #660000;
  border-color: red;
}

.notification-window {
  background-color: black;
  border: 0.5px solid;
  border-color: white;
  color: white;
  font-size: 16px;
  margin: 0px;
}

.notification-group-close-button {
  color: white;
  background-color: #660000;
}

.notification-default-action {
  background-color: black;
}

.widget-title {
  margin: 0px 7px 0px 7px;
}

.widget-volume {
  padding: 8px;
  margin: 8px;
  border-radius: 1px;
}

.widget-slider {
  color: red;
  border: 1px solid;
  border-color: red;
}

.per-app-volume {
  color: green;
  background-color: yellow;
}

.widget-buttons-grid {
  margin: 6px;
}

.widget-mpris .widget-mpris-player {
  margin: 16px 20px;
  border-radius: 1px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-buttons-grid flowboxchild > button {
  background-color: black;
  border-radius: 1px;
}

.widget-buttons-grid flowboxchild > button:hover {
  background-color: #660000;
  border-radius: 1px;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
  background-color: black;
}

.top {
  background-color: black;
}

.control-center-clear-all {
  background-color: black;
  border-radius: 1px;
}

.control-center-clear-all .text-button:hover {
  background-color: #660000;
  border-radius: 1px;
}

.text-button {
  color: white;
  border-radius: 1px;
}

.text-button:hover {
  background-color: #660000;
}

.image-button {
  border-radius: 1px;
}
